@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

// screen size
$desktop-breakpoint: 90rem; // 1440px
$tablet-breakpoint: 48rem; // 768px

$bg-main:#f8f8f8;
$bg-input: #fff;
$font-main-color: #3a3a3a;
$font-headng-auth: #1c2b45;
$font-subheading-auth: hsla(0, 0%, 40%, .84);
$border-input: #d7d7d7;
$error: red;
$primary-btn: #131113;
$bg-primary-btn: #ececec;
$bg-hover-primary-btn: #e2e2e2;
$bg-secondary-btn: #73c2fb;
$bg-hover-secondary-btn: #4bb1fa;
$divider: #d7d7d7;
$bg-table: #f3f3f3;
$bg-success: #e6f7ef;
$font-success: #45946d;
$bg-delete-btn: #faedee;

//grid
$Cloud: #BDC5D5;
$Red: #C94515;
$White: #FFFFFF;
$Graphite: #232940;

$breakpoints: (
    desktop: 1280px,
    tablet: 768px,
    mobile: 0px,
) !default;

$default-margin: (
    desktop: auto,
    tablet: 0 36px,
    mobile: 0 16px,
) !default;

$default-gutter: (
    desktop: 24px,
    tablet: 24px,
    mobile: 16px,
) !default;

$default-content-width: (
    desktop: calc(63*12 + 24*11) + px,
    tablet: auto,
    mobile: auto,
) !default;

$column-width: (
    desktop: 63px,
    tablet: auto,
    mobile: auto,
) !default;

$columns: (
    desktop: 12,
    tablet: 12,
    mobile: 6,
) !default;

$mobile: (
    mobile: true,
) !default;

$max-width: null !default;



