// screen size
$desktop-breakpoint: 90rem; // 1440px
$tablet-breakpoint: 48rem; // 768px

$bg-main:#f8f8f8;
$bg-input: #fff;
$font-main-color: #3a3a3a;
$font-headng-auth: #1c2b45;
$font-subheading-auth: hsla(0, 0%, 40%, .84);
$border-input: #d7d7d7;
$error: red;
$primary-btn: #131113;
$bg-primary-btn: #ececec;
$bg-hover-primary-btn: #e2e2e2;
$bg-secondary-btn: #73c2fb;
$bg-hover-secondary-btn: #4bb1fa;







